initializer-page/node/
initializer-page/node_modules/
initializer-page/analysis/
initializer-page/target/
initializer-page/public/*.js*
initializer-generator/target/

*.log 

node_modules/

tree

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
